In [140]:
# %%
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_json('../data/TSXData.json')
# Sort by timestamp unix
df = df.sort_values(by=['TimeStamp'])

In [141]:
df.MessageType.unique()

array(['NewOrderRequest', 'NewOrderAcknowledged', 'CancelRequest',
       'CancelAcknowledged', 'Cancelled', 'Trade'], dtype=object)

In [142]:
df.MessageType.shape

(212222,)

In [143]:
# Unique Order IDs for Trade
matches = []
for order_id in df[df.MessageType=='Trade'].OrderID.unique():
    orderfilter = df[df.OrderID==order_id]
    if orderfilter.shape[0] > 1:
        print(f'FOUND with shape {orderfilter.shape}!')
        matches.append(orderfilter)
        break

FOUND with shape (6, 8)!

### ANOMALY DETECTED

In [144]:
matches[0].head(20)

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
53287,2023-01-06 09:30:00.238813104,2023-01-06 14:30:00.238813104,ExchangeToNBF,b96e916e-9283-11ed-ac0d-047c16291a22,Trade,MLW24,140.14,TSX
53292,2023-01-06 09:30:00.238878716,2023-01-06 14:30:00.238878716,ExchangeToNBF,b96e916e-9283-11ed-ac0d-047c16291a22,Trade,MLW24,140.14,TSX
53293,2023-01-06 09:30:00.238891893,2023-01-06 14:30:00.238891893,ExchangeToNBF,b96e916e-9283-11ed-ac0d-047c16291a22,Trade,MLW24,140.14,TSX
53730,2023-01-06 09:30:00.268049672,2023-01-06 14:30:00.268049672,NBFToExchange,b96e916e-9283-11ed-ac0d-047c16291a22,CancelRequest,MLW24,NaN,TSX
53734,2023-01-06 09:30:00.268169562,2023-01-06 14:30:00.268169562,ExchangeToNBF,b96e916e-9283-11ed-ac0d-047c16291a22,CancelAcknowledged,MLW24,NaN,TSX
53735,2023-01-06 09:30:00.268174478,2023-01-06 14:30:00.268174478,ExchangeToNBF,b96e916e-9283-11ed-ac0d-047c16291a22,Cancelled,MLW24,NaN,TSX

In [145]:
# Random Order ID
message = None
while message is None or message == 'Cancelled':
    random_transaction = df[df.OrderID==df.OrderID.sample(1).values[0]][['TimeStampEpoch', 'OrderID', 'MessageType', 'Symbol']]
    message = random_transaction['MessageType'].iloc[-1]

random_transaction.head()

,TimeStampEpoch,OrderID,MessageType,Symbol
57277,2023-01-06 14:30:00.630270548,b970185a-9283-11ed-af6c-047c16291a22,Trade,ULCVN

In [147]:
df[df.OrderID=='b963e2d9-9283-11ed-9264-047c16291a22']

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
478,2023-01-06 09:28:00.065175765,2023-01-06 14:28:00.065175765,NBFToExchange,b963e2d9-9283-11ed-9264-047c16291a22,NewOrderRequest,GIJQX,65.42,TSX
482,2023-01-06 09:28:00.065236208,2023-01-06 14:28:00.065236208,ExchangeToNBF,b963e2d9-9283-11ed-9264-047c16291a22,NewOrderAcknowledged,GIJQX,65.42,TSX
607,2023-01-06 09:28:00.074839263,2023-01-06 14:28:00.074839263,NBFToExchange,b963e2d9-9283-11ed-9264-047c16291a22,CancelRequest,GIJQX,NaN,TSX
615,2023-01-06 09:28:00.074897876,2023-01-06 14:28:00.074897876,ExchangeToNBF,b963e2d9-9283-11ed-9264-047c16291a22,CancelAcknowledged,GIJQX,NaN,TSX
617,2023-01-06 09:28:00.074901621,2023-01-06 14:28:00.074901621,ExchangeToNBF,b963e2d9-9283-11ed-9264-047c16291a22,Cancelled,GIJQX,NaN,TSX

In [148]:
df.head()

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
0,2023-01-06 09:28:00.011058962,2023-01-06 14:28:00.011058962,NBFToExchange,b963bbc8-9283-11ed-9ad4-047c16291a22,NewOrderRequest,OA14Y,61.56,TSX
1,2023-01-06 09:28:00.011081372,2023-01-06 14:28:00.011081372,NBFToExchange,b963bbc9-9283-11ed-8b08-047c16291a22,NewOrderRequest,OOOTO,69.37,TSX
2,2023-01-06 09:28:00.011117286,2023-01-06 14:28:00.011117286,ExchangeToNBF,b963bbc8-9283-11ed-9ad4-047c16291a22,NewOrderAcknowledged,OA14Y,61.56,TSX
3,2023-01-06 09:28:00.011125452,2023-01-06 14:28:00.011125452,NBFToExchange,b963bbca-9283-11ed-b19f-047c16291a22,CancelRequest,OA14Y,NaN,TSX
4,2023-01-06 09:28:00.011129285,2023-01-06 14:28:00.011129285,NBFToExchange,b963bbcb-9283-11ed-aba1-047c16291a22,NewOrderRequest,NQGAH,73.20,TSX

In [149]:
df.shape

(212222, 8)