In [123]:
# %%
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_json('../data/TSXData.json')

In [68]:
df.MessageType.unique()

array(['NewOrderRequest', 'NewOrderAcknowledged', 'CancelRequest',
       'CancelAcknowledged', 'Cancelled', 'Trade'], dtype=object)

In [66]:
df.MessageType.shape

(212222,)

In [135]:
# Unique Order IDs for Trade
matches = []
for order_id in df[df.MessageType=='Trade'].OrderID.unique():
    orderfilter = df[df.OrderID==order_id]
    if orderfilter.shape[0] > 1:
        print(f'FOUND with shape {orderfilter.shape}!')
        matches.append(orderfilter)
        break

FOUND with shape (6, 8)!

### ANOMALY DETECTED

In [136]:
matches[0].head(20)

,TimeStamp,TimeStampEpoch,Direction,OrderID,MessageType,Symbol,OrderPrice,Exchange
53287,2023-01-06 09:30:00.238813104,2023-01-06 14:30:00.238813104,ExchangeToNBF,b96e916e-9283-11ed-ac0d-047c16291a22,Trade,MLW24,140.14,TSX
53292,2023-01-06 09:30:00.238878716,2023-01-06 14:30:00.238878716,ExchangeToNBF,b96e916e-9283-11ed-ac0d-047c16291a22,Trade,MLW24,140.14,TSX
53293,2023-01-06 09:30:00.238891893,2023-01-06 14:30:00.238891893,ExchangeToNBF,b96e916e-9283-11ed-ac0d-047c16291a22,Trade,MLW24,140.14,TSX
53730,2023-01-06 09:30:00.268049672,2023-01-06 14:30:00.268049672,NBFToExchange,b96e916e-9283-11ed-ac0d-047c16291a22,CancelRequest,MLW24,NaN,TSX
53734,2023-01-06 09:30:00.268169562,2023-01-06 14:30:00.268169562,ExchangeToNBF,b96e916e-9283-11ed-ac0d-047c16291a22,CancelAcknowledged,MLW24,NaN,TSX
53735,2023-01-06 09:30:00.268174478,2023-01-06 14:30:00.268174478,ExchangeToNBF,b96e916e-9283-11ed-ac0d-047c16291a22,Cancelled,MLW24,NaN,TSX

In [122]:
# Random Order ID
message = None
while message is None or message == 'Cancelled':
    random_transaction = df[df.OrderID==df.OrderID.sample(1).values[0]][['TimeStampEpoch', 'OrderID', 'MessageType', 'Symbol']]
    message = random_transaction['MessageType'].iloc[-1]

random_transaction.head()

,TimeStampEpoch,OrderID,MessageType,Symbol
55835,2023-01-06 14:30:00.434764672,b96f7ba6-9283-11ed-b107-047c16291a22,Trade,VQDGA